<h1>Films</h1>

<ol>
<li>Star Wars: A New Hope</li>
<li>Star Wars: The Empire Strikes Back</li>
<li>Star Wars: Return of the Jedi</li>
<li>Star Wars: The Phantom Menace</li>
<li>Star Wars: Attack of the Clones</li>
<li>Star Wars: Revenge of the Sith</li>
<li>Star Wars: The Force Awakens</li>
</ol>

<%= form_tag film_path do %>
  <div class="form-group">
    <p><%= text_field_tag :number, nil, placeholder: "Integer", class: "form-control" %></p>
    <%= submit_tag "Get Information", class: "ui inverted teal button" %>
<% end %>

<p>Film: <%= @title %></p>
<p>Director: <%= @director %></p>
<p>Episode Number: <%= @episode_id %></p>
<p>Producer(s): <%= @producer %></p>
<p>Release Date: <%= @release_date %></p>