<body id="vehiclesBody">
  <div class="container top_elements">
    <h1>Vehicles</h1>

    <%= form_tag vehicles_path do %>
      <div class="form-group">
        <p><%= text_field_tag :number, nil, placeholder: "Integer", class: "form-control" %></p>
        <%= submit_tag "Get Information", class: "ui inverted teal button" %>
      </div>
    <% end %>
  </div>

  <div class="container center bottom_elements">
    <h1>Requested Information:</h1>
      <p class="font_fix">Name: <%= @name %></p>
      <p class="font_fix">Model: <%= @model %></p>
      <p class="font_fix">Manufacturer: <%= @manufacturer %></p>
      <p class="font_fix">Cost in Credits: <%= @cost_in_credits %></p>
      <p class="font_fix">Length: <%= @length %></p>
      <p class="font_fix">Max Atmosphering Speed: <%= @max_atmosphering_speed %></p>
      <p class="font_fix">Crew: <%= @crew %></p>
      <p class="font_fix">Passengers: <%= @passengers %></p>
      <p class="font_fix">Cargo Capacity: <%= @cargo_capacity %></p>
      <p class="font_fix">Consumables: <%= @consumables %></p>
      <p class="font_fix">Vehicle Class: <%= @vehicle_class %></p>
  </div>

</div>
</body>


